[2017-02-26 01:44] lukewhyte commented on #219
Hey Alan!

I'll reach out to Emily Bowe and see if I can get in touch. Will this issue stay open for me to report back to?

Thanks!

[2017-02-26 01:50] almccon commented on #219
Yeah, we can keep it open for now. Also, FYI I found the earlier San Antonio issue here: #149

[2017-02-26 01:52] lukewhyte commented on #219
Thanks!

[2017-02-26 01:56] lukewhyte commented on #149
Hi @emilyrbowe!

I just moved to San Antonio and was hoping to get a Maptime chapter up and off the ground here. I see that you'd started down this path previously. Is there a currently active chapter? If not, are you still interested in cooking something up?

[2017-02-27 14:45] emilyrbowe commented on #149
@lukewhyte I'd had the plan on hold and it was a 2017 resolution to get it up and running. Would love to meet up to chat maptime! Emailing you now.

[2017-03-16 13:52] emilyrbowe commented on #149
Hey guys, can we get @lukewhyte added to the Maptime San Antonio team? @geobrando @geografa Thank you!

[2017-03-16 13:54] emilyrbowe commented on #219
Okay, adding to the proper thread now. Any way we can add @lukewhyte to the San Antonio team so he has access to the repos? Thank you!

[2017-03-16 22:02] almccon commented on #219
Invite sent to @lukewhyte, let me know if that works!

[2017-03-17 15:27] emilyrbowe commented on #219
Thanks, @almccon!

[2017-03-17 20:37] bplmp commented on #187
Ok, so it took me forever but now I'm really setting this chapter up. I don't have write access to the [São Paulo repo](https://github.com/maptime/saopaulo) though, can someone grant that to me?

[2017-03-17 22:43] almccon commented on #187
Oops, try now!

[2017-03-17 22:52] bplmp commented on #187
Works! Thanks!

[2017-03-21 14:54] geografa opened #220 "New Chapter for Tirana, Albania"
__Summary__
Maptime name: __MaptimeTirana__
Contact name: Amanti Lulo
Date submitted: 2017-03-21 14:46:44

- [x] Add GH admins to new team: diskmanti
- [x] Add Location (Tirana, Albania) to chapters.json and /chapters page.

__Additional tasks__
- [x] Add to Slack
- [x] set _config.yml file

/cc @maptime/admin-onboarders

[2017-03-23 11:23] geografa opened #221 "New Chapter for Sydney, NSW, Australia"
__Summary__
Maptime name: __MaptimeSyd__
Contact name: Elise McKenna
Date submitted: 2017-03-23 11:22:16

- [ ] Add GH admins to new team: mappingmckenna
- [ ] Add Location (Sydney, NSW, Australia) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-03-24 02:10] lukewhyte commented on #219
I seem to still be incapable of contributing to "projects". Any thoughts as
to why this might be?

On Fri, Mar 17, 2017 at 10:27 AM, Emily Bowe <notifications@github.com>
wrote:

[2017-03-25 10:46] diskmanti commented on #220
Hello

I am diskmanti. I made this request to open a MapTime chapter in my hometown, Tirana. I was wondering when will my request be approved and if there was anything missing from the form I completed. Hope everyting is ok.

Keep up the great work.
Cheers,
Amanti

[2017-03-26 15:14] almccon commented on #220
You now have a repo at http://github.com/maptime/tirana, and the website is as http://maptime.io/tirana. Let me know if you can't access it!

[2017-03-26 15:16] almccon commented on #205
Also, "Tempe" is too specific, but "MaptimeAZ" is probably too broad. MaptimePHX perhaps?

[2017-04-08 00:22] mappingmckenna commented on #221
Hi @geografa - just following up on this - any idea on when we can expect to have our chapter up?
Cheers!

[2017-04-13 01:43] philam commented on #221
Hello from Maptime Melbourne! :)

[2017-04-13 17:10] diskmanti commented on #220
Hello

I can access everything. Thanks you for the great work. I will be adding my first event by Monday(hopefully).
Just on more question. How can I add someone else on my chapter. Another member to publish posts and so on?

Thanks again,
Amanti

[2017-04-14 02:08] almccon commented on #220
Hi @diskmanti, if you want to have other co-organizers who can publish posts, just tell me their github usernames. I will add them to the repo.

[2017-04-18 09:04] magsderich commented on #210
Hi @geografa , just came back to this and arranged our first event for May, would like to complete onboarding if possible. Thanks!

[2017-04-20 14:41] diskmanti commented on #220
Hello,

I am writing here as I do not know if there is a specific place to as questions about management. If there are other ways of communications please tell me.

I want to know if there are some guidelines on how to manage a local maptime chapter. I have searched the issues on this repo and have discovered this [link](http://maptime.io/blog/2015/01/13/learning-together-in-2015)

Do I have to fo

[2017-04-20 15:03] almccon commented on #220
Hi @diskmanti! Our Slack group is the best place to ask these questions. If you're not on it yet, send an email to hello@maptime.io, and we'll send you an invitation to join.

[2017-04-20 21:32] diskmanti commented on #220
@almccon Thanks 😃

[2017-04-29 06:04] geografa commented on #187
👍

[2017-04-29 06:04] #187 closed, assigned to nobody

[2017-05-26 14:33] geografa opened #222 "New Chapter for Adelaide"
__Summary__
Maptime name: __Digital Cartography__
Contact name: Stefan
Date submitted: 2017-05-26 14:26:05

- [ ] Add GH admins to new team: OK
- [ ] Add Location (Adelaide) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-05-26 17:19] almccon commented on #222
Not sure what "Digital Cartography" means in this context. Is it university department or something? I think the simple name *MaptimeAdelaide* would be best.

Also, looks like we need a github username and/or an email address for "Stefan" before this can become actionable.

[2017-05-31 07:10] philam commented on #222
FYI the Slack channel for Australian Maptime chapters is located here if our Radelaide friends want in :) https://maptimeaustralia.slack.com

[2017-06-03 01:46] geografa opened #223 "New Chapter for Snoqualmie, Washington, US"
__Summary__
Maptime name: __MaptimeEastside__
Contact name: Heather Minnella
Date submitted: 2017-06-03 01:36:53

- [ ] Add GH admins to new team: spaceof7
- [ ] Add Location (Snoqualmie, Washington, US) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-06-04 18:33] geografa opened #224 "New Chapter for Costa Rica"
__Summary__
Maptime name: __Maperespeis__
Contact name: Leo Arias
Date submitted: 2017-06-04 18:19:53

- [ ] Add GH admins to new team: elopio
- [ ] Add Location (Costa Rica) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-06-12 21:05] #199 closed, assigned to nobody

[2017-06-16 14:34] geografa opened #225 "New Chapter for Turin"
__Summary__
Maptime name: __MaptimeTurin__
Contact name: Alessandro Calvi
Date submitted: 2017-06-16 14:28:38

- [ ] Add GH admins to new team:
- [ ] Add Location (Turin) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-06-19 14:50] geografa opened #226 "New Chapter for Turin"
__Summary__
Maptime name: __MaptimeTurin__
Contact name: Alessandro Calvi
Date submitted: 2017-06-19 14:43:31

- [x] Add GH admins to new team: https://github.com/alecalvi
- [ ] Add Location (Turin ) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-06-29 03:09] jenningsanderson commented on #225
@geografa - could this issue template also be populated with the email of the requester so we can try to get the missing information? (ie, in this case, the GH admins)

[2017-06-29 03:10] jenningsanderson commented on #225
Also, closing this because they issued a new request with this missing info 💯

[2017-06-29 03:10] #225 closed, assigned to nobody

[2017-06-29 04:14] alecalvi commented on #226
Can you add Turin tu Chapters page? Thanks

[2017-06-29 22:39] almccon commented on #223
MaptimeEastside should probably be something more like MaptimeSnoqualmie. Maptime chapter names should be relatively distinct, and there's a good chance that there are tons of other places in the world that call themselves "Eastside".

[2017-07-13 05:55] come-maiz commented on #224
Hello, Leo Arias here. I'm wondering if there's anything missing in our request.

[2017-07-13 07:14] jenningsanderson commented on #224
:wave: Hi @elopio, can you confirm the specific city? The chapter websites are typically organized by maptime.io/<city-name>.  Or are you hoping for maptime.io/maperespeis, instead? Thanks!

[2017-07-13 15:38] come-maiz commented on #224
@jenningsanderson Hello!

Costa Rica is pretty small, so we have people from all provinces working in the same group, and we have been rotating the location of the meetings. I don't think we should have a chapter per city, but only one for the country.
And we named the group like a year ago, before noticing that we should have started it as a maptime chapter instead. It would be awesome if we can

[2017-08-02 22:22] geografa opened #227 "New Chapter for San Diego, California, USA"
__Summary__
Maptime name: __MaptimeSD__
Contact name: Madison Draper
Date submitted: 2017-08-02 22:09:17

- [ ] Add GH admins to new team: madizhen
- [ ] Add Location (San Diego, California, USA) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-08-02 23:06] almccon commented on #227
Hi @madizhen. We already had a San Diego group that tried to start up a few years ago, so https://github.com/maptime/sandiego already exists. We should try to get in touch with the previous organizers and see if they can help you restart the group!

[2017-08-02 23:18] mzdraper commented on #227
Thank you! Do I need to be an admin for that repo or can we just use it?

[2017-08-02 23:40] almccon commented on #227
I just added you. Looks like @roblabs is the other member of @maptime/us-ca-sandiego, although I remember a few other people were involved before that, but I'd have to dig a while to find out who they are. I think they all moved away from San Diego, perhaps.

[2017-08-02 23:42] almccon commented on #227
Also, @madizhen, send an email to hello@maptime.io and somebody will then send you an invite to our Slack channel. Once you get there, you'll find more people who will help show you the ropes. Good luck! 🌈

[2017-08-02 23:43] almccon commented on #227
And you should find out if anyone is still running twitter.com/MaptimeSD, and see if they'll pass it along to you.

[2017-08-02 23:44] mzdraper commented on #227
I'll do all of that now. Thanks so much for setting this up @almccon!

[2017-08-02 23:45] roblabs commented on #227
Hello @madizhen — I have the credentials for twitter.com/MaptimeSD

I am still in San Diego and would love to see the Maptime reinvigorated.  Once you are on slack, we can connect there (@RobLabs)

[2017-08-06 11:21] geografa opened #228 "New Chapter for Beirut"
__Summary__
Maptime name: __MaptimeBeirut__
Contact name: Lorenzo
Date submitted: 2017-08-06 11:15:23

- [ ] Add GH admins to new team:
- [ ] Add Location (Beirut) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-08-10 17:06] geografa opened #229 "New Chapter for THRISSUR,KERALA,INDIA"
__Summary__
Maptime name: __MaptimeTCR__
Contact name: AJITHKUMAR
Date submitted: 2017-08-10 16:59:16

- [ ] Add GH admins to new team:
- [ ] Add Location (THRISSUR,KERALA,INDIA) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-08-24 09:54] geografa opened #230 "New Chapter for Mumbai,Maharashtra,India"
__Summary__
Maptime name: __MaptimeIndia__
Contact name: Jatin Malhotra
Date submitted: 2017-08-24 09:47:04

- [ ] Add GH admins to new team: yes
- [ ] Add Location (Mumbai,Maharashtra,India) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-08-24 21:05] almccon commented on #230
No github username, so we probably can't move forward without that.

But in any case, the name would definitely want to be MaptimeMumbai, not MaptimeIndia.

[2017-08-29 20:40] geografa opened #231 "New Chapter for Davis, California, USA"
__Summary__
Maptime name: __MaptimeDavis__
Contact name: Michele Tobias
Date submitted: 2017-08-29 20:37:50

- [ ] Add GH admins to new team: MicheleTobias, wildintellect
- [x] Add Location (Davis, California, USA) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-09-28 01:25] geografa opened #232 "New Chapter for Brisbane, Queensland, Australia"
__Summary__
Maptime name: __MaptimeBNE__
Contact name: David Dean
Date submitted: 2017-09-28 01:23:38

- [ ] Add GH admins to new team: dbdean, stragu
- [ ] Add Location (Brisbane, Queensland, Australia) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-11-07 13:06] geografa opened #233 "New Chapter for Cluj-Napoca, Cluj, Romania"
__Summary__
Maptime name: __MaptimeTransylvania__
Contact name: Ionut Parv
Date submitted: 1970-01-01

- [ ] Add GH admins to new team: ionutparv
- [ ] Add Location (Cluj-Napoca, Cluj, Romania) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2017-12-09 09:08] philam opened #234 "Need some help with onboarding new chapters?"
This is getting a tad silly. Some chapters have been waiting for over a year to be listed on the Maptime website and/or be fully 'on-boarded' through the process. See the Melbourne chapter #215 for my experience.

I fully appreciate that the organisers have many other things to do in their lives, and that's totally fine. But when basic admin like this is not completed it doesn't look good for the

[2017-12-13 00:02] jenningsanderson commented on #234
Hi @philam, let's do something about this, sticking my hand up too ✋  The [maptime](http://maptime.io) homepage also needs updating.

The current onboarding process is done via the `onboarding.sh` script. I think one reason for the backlog is a lack of complete information (such as github usernames) and/or lack of consensus on chapter names at first; these issue tickets are automatically generated

[2017-12-13 00:17] jenningsanderson commented on #227
Hi @madizhen :wave: I'm checking up on open issues... Is everything set for Maptime San Diego? Can I close this issue?

[2017-12-13 00:30] jenningsanderson commented on #177
:wave: Hi @niceone @vinutha-singtel, I'm trying to close out old issues here, how is Maptime Singapore? I'd like to add the link to Twitter to the chapters page at maptime.io/chapters, but I don't see https://twitter.com/MaptimeSG/ as active, are you all still meeting?

[2017-12-13 16:03] rstevensonUSGS commented on #234
I did a bunch of the backlog in October when I had help. But to be honest. I am not sure what I am doing so I could use a basic understanding of the process. Now that the semester is over, I am game for helping with this, Jennings when were you thinking of doing this sprint?

[2017-12-13 16:12] rstevensonUSGS commented on #234
@philam are you on the maptime slack? Can we have this conversation there?

[2017-12-13 18:58] geografa commented on #234
@philam I totally get the frustration and you're right - things have fallen behind beyond a reasonable time. The issue here IMO is that this model doesn't scale. Others will take it over and it will continue to get dropped because it requires numerous steps to onboard and maintain the repos. I'd like to propose that the model **completely change to an autonomous one** where the Maptime org simply

[2017-12-13 19:08] jenningsanderson commented on #234
👍  @geografa, I like this; perhaps an opt-in option for the maptime/<chapter> repository. As it stands, many repos are not used. Perhaps change to a Google Form & Spreadsheet for managing Chapter listings? Happy to talk more on this...

[2017-12-17 04:39] philam commented on #234
@jenningsanderson @geografa Sounds great! If decentralisation/autonomy means that chapters can be more quickly put on their feet and supported, then it sounds good to me.

I think that a good first step would be consulting chapters on any changes. Perhaps a general survey about the support that they have had/would like to see from Maptime. Then that could guide any future development on this subje

[2017-12-18 18:16] geografa commented on #234
@philam can you post back here if you decide to make a work session to hammer out ideas? Happy to help if I can make it.

[2017-12-21 21:22] jenningsanderson commented on #234
:wave: @geografa - hoping for Monday, January 8, 2018; 5pm Mountain Time; conversation is also taking place in #admin on slack!

[2018-01-09 01:03] emilyashley opened #235 "Updates to the 'start page' for 2018"
- [ ] 	- create  or update 'start a chapter' copy
- [ ] 	- create 'list a chapter' copy
- [ ] 	- typeform (yes / no / turn off for now?)
- [ ] 	- routing
- [ ] 	- update navbar header to say "list a chapter" instead of "start a chapter"

[2018-01-09 01:24] emilyashley commented on #234
Happy to comment that this meeting did indeed take place! Translating notes into follow up issues 👍

[2018-01-09 01:33] jenningsanderson opened #236 "Maptime Chapters Census 2018"
Goal: Perform a census of the Maptime chapters in order to update the maptime.io/chapters page with current contact information. This would be a simple and short survey:

1. Chapter name & location?
2. Where can we find you? (Meetup? Facebook? Twitter?)

What other details should be in here?

[2018-01-16 11:37] philam commented on #236
Do we need to know if they have/want a Maptime.io webpage? Or is it easier for us to check from the backend?

[2018-01-18 13:08] geografa opened #237 "New Chapter for Duluth, Minnesota, USA"
__Summary__
Maptime name: __MaptimeDuluth__
Contact name: Zachary Vavra
Date submitted: 2018-01-18 12:56:24

- [ ] Add GH admins to new team: Zachary Vavra
- [ ] Add Location (Duluth, Minnesota, USA) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-01-18 18:53] jenningsanderson commented on #236
@philam - I think we should do that part by hand -- based on the responses we get, we'll be able to follow up with the chapter organizers and see if they need the github repo.  Likewise, we should offer maptime.io/ namespaces to chapters that already have other websites, but these could likely be done better as follow up conversations with chapter organizers.

[2018-03-09 20:58] geografa opened #238 "New Chapter for Santa Barbara, CA, USA"
__Summary__
Maptime name: __MaptimeSB__
Contact name: Thomas Hervey
Date submitted: 2018-03-09 20:47:12

- [ ] Add GH admins to new team: thomas-hervey
- [ ] Add Location (Santa Barbara, CA, USA) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-04-14 07:24] geografa opened #239 "New Chapter for Nairobi, Nairobi, Kenya"
__Summary__
Maptime name: __MaptimeNairobi __
Contact name: Leonard Ouma
Date submitted: 2018-04-14 07:19:11

- [ ] Add GH admins to new team: leoouma
- [ ] Add Location (Nairobi, Nairobi, Kenya) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-05-29 10:49] geografa opened #240 "New Chapter for Bengaluru, Karnataka, India"
__Summary__
Maptime name: __MaptimeBLR__
Contact name: Shivaprakash Muruganandham
Date submitted: 2018-05-29 10:49:34

- [ ] Add GH admins to new team: mshiv
- [ ] Add Location (Bengaluru, Karnataka, India) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-05-31 07:21] geografa opened #241 "New Chapter for Bangkok, Thailand"
__Summary__
Maptime name: __MaptimeBKK__
Contact name: Phannisa
Date submitted: 2018-05-31 07:21:18

- [ ] Add GH admins to new team: https://github.com/pnphannisa
- [ ] Add Location (Bangkok, Thailand) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-06-05 10:03] geografa opened #242 "New Chapter for Ukraine"
__Summary__
Maptime name: __Katya1403__
Contact name: Katya
Date submitted: 2018-06-05 10:03:05

- [ ] Add GH admins to new team:
- [ ] Add Location (Ukraine) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-06-05 18:56] almccon commented on #242
`Katya1403` is not a real chapter name, or is it a valid github username. Would need to be more specific about where in Ukraine this chapter is located, in any case. Suggest closing.

[2018-07-08 11:56] geografa opened #243 "New Chapter for Accra, Ghana"
__Summary__
Maptime name: __MaptimeAccra__
Contact name: Enock Seth Nyamador
Date submitted: 2018-07-08 11:56:55

- [ ] Add GH admins to new team: enockseth
- [ ] Add Location (Accra, Ghana) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-07-16 16:56] emilyashley opened #244 "Restart Chapter for Baltimore, MD, USA"
__Summary__
Maptime name: __MaptimeBaltimore__
Contact name: Jonathan Dandois
Date emailed: 2018-07-16

- [x] Respond to email @emilyashley
- [x] Offered access to maptime slack
        - [x] invite preferred email address
- [x] Update Organizers in chapters.json and /chapters page.
- [x] Offered access to administrate Maptime Baltimore Github Pages
      - [ ]Y/N - invite preferred email address

[2018-07-16 17:00] emilyashley commented on #236
Good news! Just got a request for a chapter restart for Baltimore, MD so soon, at least 1 of xxxx chapters will be up to date in our repo.

https://github.com/maptime/maptime-admin/issues/244

[2018-07-16 17:06] emilyashley commented on #236
assigning this so it stays in my https://github.com/issues/assigned view. tagged @jenningsanderson as well.

@philam would you also like to be assigned? Do you have access to all the repo's etc that you need?

[2018-07-18 17:42] emilyashley commented on #235
Merged in a _wow_ outstanding PR today. Thinking about the remaining item notes on this ticket and follow up steps.

[2018-07-18 17:55] emilyashley commented on #235
Updating maptime.io is blocked by me getting up a local instance. Come back to this after relevant substeps of https://github.com/maptime/maptime.github.io/issues/294

[2018-07-18 19:32] #244 closed, assigned to emilyashley

[2018-07-25 04:30] philam commented on #236
@emilyashley Sure I'm happy to be assigned. I'm pretty sure that I have all of the necessary permissions. I'll let you know if I find out later that I don't!

[2018-07-25 04:33] philam commented on #236
Actually @emilyashley I've just checked and I don't have edit access to the maptime.github.io repo so I can't edit the file to add new chapters.

[2018-07-25 16:35] emilyashley commented on #236
@philam I think I sent you and invite to the correct team now :) Thanks for helping.

Feel free to assign me on any pull requests for review as well.

[2018-07-27 15:48] geografa opened #245 "New Chapter for Salzburg, Austria"
__Summary__
Maptime name: __MaptimeSalzburg__
Contact name: Jakob Miksch
Date submitted: 2018-07-27 15:48:45

- [x] Add GH admins to new team: https://github.com/jakobmiksch/ and https://github.com/augustinh22
- [x] Add Location (Salzburg, Austria) to chapters.json and /chapters page.

__Additional tasks__
- [x] Add to Slack
- [x] set _config.yml file

/cc @maptime/admin-onboarders

[2018-07-28 12:25] JakobMiksch commented on #245
Thanks for creating this issue. Just let me and @augustinh22  know if there is something we shall do. We already reserved a Twitter account: https://twitter.com/maptimeSalzburg

[2018-08-07 16:16] geografa opened #246 "New Chapter for dallas tx 75207"
__Summary__
Maptime name: __design district__
Contact name: Key
Date submitted: 2018-08-07 16:16:51

- [ ] Add GH admins to new team:
- [ ] Add Location (dallas tx 75207) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-08-13 10:52] geografa opened #247 "New Chapter for Singapore"
__Summary__
Maptime name: __MaptimeSG__
Contact name: Jian He
Date submitted: 2018-08-13 10:52:53

- [ ] Add GH admins to new team:
- [ ] Add Location (Singapore) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-08-19 19:39] geografa opened #248 "New Chapter for Columbus, Ohio, USA"
__Summary__
Maptime name: __MaptimeColumbus__
Contact name: Adam Sauer
Date submitted: 2018-08-19 19:39:07

- [ ] Add GH admins to new team: OhioAdam
- [ ] Add Location (Columbus, Ohio, USA) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-08-24 17:29] emilyashley commented on #247
update: returned email to Jian He.
Aug 24, 2018, 10:25 AM PDT

Assigning myself to follows this.

[2018-08-24 17:38] emilyashley commented on #245
update: emailed Jakob and Hannah  Aug 24, 2018, 10:36 AM PDT

assigning self to follow up on this.

also, twitter convo [here](https://twitter.com/JakobMiksch/status/1029633621768982528)

[2018-09-13 14:12] augustinh22 commented on #245
Would it also be possible to get a maptime.io e-mail address for our chapter?

[2018-10-09 11:15] geografa opened #249 "New Chapter for up"
__Summary__
Maptime name: __maptimedc__
Contact name: kamal
Date submitted: 2018-10-09 11:15:55

- [ ] Add GH admins to new team: ajsjd
- [ ] Add Location (up) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-10-21 07:05] JakobMiksch commented on #245
@emilyashley are there any updates about this issue?
we already had our first meetup and would like to post something on the website ...
thanks and best wishes!

[2018-10-23 21:29] #245 closed, assigned to emilyashley

[2018-11-23 09:47] philam commented on #177
Added MaptimeSG to map https://github.com/maptime/maptime.github.io/commit/1565cb316268801d1b81ff383d3383137093b742 Ping @geografa

[2018-11-23 09:50] philam commented on #247
Added to map: https://github.com/maptime/maptime.github.io/commit/1565cb316268801d1b81ff383d3383137093b742 #177

[2018-11-23 09:51] philam commented on #178
Did not add to map, no evidence of activity since 2016: https://github.com/maptime/glasgow

[2018-11-23 09:53] philam commented on #180
Did not add to map - no evidence of activity since 2016, possibly now YouthMappers? https://www.youthmappers.org/blog/tag/malaria?fb_comment_id=1083621911738128_1086157948151191

[2018-11-23 09:54] philam commented on #182
Removed from map https://github.com/maptime/maptime.github.io/commit/e57155321a3a5c9d03739e867cdb5d3dec1280bd

[2018-11-23 09:55] philam commented on #185
No evidence of activity since 2016 - did not add to map

[2018-11-23 09:57] philam commented on #189
No evidence of activity since 2017 (https://github.com/MaptimeSummercamp) - did not add to map

[2018-11-23 09:58] philam commented on #190
No evidence of activity after 2016 (https://twitter.com/maptimeuv) - did not add to map

[2018-11-23 09:59] philam commented on #193
No evidence of activity after 2016 - did not add to map

[2018-11-23 10:00] philam commented on #194
No evidence of activity since 2017 (https://twitter.com/MaptimeWestCO/) - did not add to map

[2018-11-23 10:00] philam commented on #197
No evidence of activity since 2016 - did not add to map https://github.com/maptime/tampabay

[2018-11-23 10:03] philam commented on #202
Already added to map

[2018-11-23 10:04] philam commented on #210
No evidence of activity since 2017 - did not add to map https://twitter.com/MaptimeBristol

[2018-11-23 10:05] philam commented on #212
Already added to map

[2018-11-23 10:07] philam commented on #215
Added to map! https://github.com/maptime/maptime.github.io/commit/189944593cca215452f92e2819125213e3c3f14d

[2018-11-23 10:09] philam commented on #216
Added to map https://github.com/maptime/maptime.github.io/commit/2cbb5d24fd5194695fe7a046c28bbf51c0d17a1c

[2018-11-23 10:13] philam commented on #220
Already added to map

[2018-11-23 10:13] philam commented on #221
No evidence of activity since 2017 - did not add to map

[2018-11-23 10:14] philam commented on #222
No evidence of activity since 2017 - did not add to map

[2018-11-23 10:16] philam commented on #223
No evidence of activity since 2017 - did not add to map

[2018-11-23 10:18] philam commented on #227
Already added to map

[2018-11-23 10:18] philam commented on #228
No evidence of activity - did not add to map

[2018-11-23 10:19] philam commented on #229
No evidence of activity - did not add to map

[2018-11-23 10:21] philam commented on #231
Added to map: https://github.com/maptime/maptime.github.io/commit/432c6f7508a78eae239114397bea855e590b32ed

[2018-11-23 10:23] philam commented on #232
Added to map

[2018-11-23 10:24] philam commented on #233
No evidence of activity - did not add to map

[2018-11-23 10:26] mulindwa-steven commented on #180
I'll share with my collegues to continue from were I stopped

On Fri, Nov 23, 2018, 12:53 PM Phil <notifications@github.com wrote:

[2018-11-23 11:49] eneerhut commented on #215
Wooh! Nice @philam.
Funny seeing the conversation from early 2017.

[2018-11-24 21:14] philam commented on #180
Great thanks! Do you know if there is a website or social media account that we could link to?

[2018-11-25 07:31] mulindwa-steven commented on #180
Yes we opened up Facebook accounts and whatsapp groups for our communities
On Nov 25, 2018 12:14 AM, "Phil" <notifications@github.com> wrote:

[2018-11-29 05:21] philam commented on #180
@mulindwa-steven Anything publicly available that I can include on the map?

[2018-11-29 15:59] kateregga1 commented on #180
Hello Phil, the location of the maptime chapter is
https://osm.org/go/woBaFkKnG?m=
Its a University and Steven has since left since the Maptime was created, I
will ask the current cordinator for updates.
Here is their twitter https://twitter.com/TeamGoodMappers

Regards,
Geoffrey

On Thu, Nov 29, 2018 at 8:21 AM Phil <notifications@github.com> wrote:

[2018-11-29 21:25] geografa opened #250 "New Chapter for Moscow"
__Summary__
Maptime name: __Qwe__
Contact name: Арс
Date submitted: 2018-11-29 21:25:56

- [ ] Add GH admins to new team: Qw
- [ ] Add Location (Moscow) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-12-03 17:44] mulindwa-steven commented on #180
thanks Geoffrey

On Thu, Nov 29, 2018, 6:59 PM Geoffrey Kateregga <notifications@github.com
wrote:

[2018-12-06 08:04] philam commented on #180
Thank you! Added in latest commit :) https://github.com/maptime/maptime.github.io/commit/39ffdefc729bdce20bcbb240d405b473bc21e3ab

[2018-12-10 11:18] geografa opened #251 "New Chapter for Tbilisi, Georgia"
__Summary__
Maptime name: __romakumla__
Contact name: Roman Kumladze
Date submitted: 2018-12-10 11:18:36

- [ ] Add GH admins to new team: romakumla
- [ ] Add Location (Tbilisi, Georgia) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2018-12-13 09:28] #222 closed, assigned to nobody

[2018-12-13 09:28] #220 closed, assigned to nobody

[2018-12-13 09:29] philam commented on #184
No response, issue closed.

[2018-12-13 09:29] #184 closed, assigned to nobody

[2018-12-13 09:30] #178 closed, assigned to nobody

[2018-12-13 09:30] #185 closed, assigned to nobody

[2018-12-13 09:31] philam commented on #177
All tasks completed

[2018-12-13 09:31] #177 closed, assigned to nobody

[2018-12-13 09:31] philam commented on #186
No response, issue closed.

[2018-12-13 09:31] #186 closed, assigned to nobody

[2018-12-13 09:32] #189 closed, assigned to nobody

[2018-12-13 09:33] #201 closed, assigned to nobody

[2019-01-07 09:41] geografa opened #252 "New Chapter for Maastricht, Limburg, Netherlands"
__Summary__
Maptime name: __Maptime Maastricht__
Contact name: Sven Reulen
Date submitted: 2019-01-07 09:41:10

- [ ] Add GH admins to new team: tssmits
- [x] Add Location (Maastricht, Limburg, Netherlands) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-01-16 11:13] geografa opened #253 "New Chapter for Maastricht"
__Summary__
Maptime name: __Maptime Maastricht__
Contact name: Sven Reulen
Date submitted: 2019-01-16 11:13:27

- [ ] Add GH admins to new team:
- [ ] Add Location (Maastricht) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-01-17 09:07] geografa opened #254 "New Chapter for Lahore, Pakistan"
__Summary__
Maptime name: __MaptimeLHR__
Contact name: Atif Mehmood
Date submitted: 2019-01-17 09:07:54

- [ ] Add GH admins to new team: no
- [ ] Add Location (Lahore, Pakistan) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-01-27 20:29] geografa opened #255 "New Chapter for Ukraine"
__Summary__
Maptime name: __MaptimeKiev__
Contact name: Konstantin
Date submitted: 2019-01-27 20:29:57

- [ ] Add GH admins to new team:
- [ ] Add Location (Ukraine) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-03-09 05:13] geografa opened #256 "New Chapter for Christchurch, New Zealand"
__Summary__
Maptime name: __MaptimeChristchurch__
Contact name: Andrew Douglas-Clifford
Date submitted: 2019-03-09 05:13:05

- [ ] Add GH admins to new team:
- [x] Add Location (Christchurch, New Zealand) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-03-30 18:42] geografa opened #257 "New Chapter for Tucson, Arizona, USA"
__Summary__
Maptime name: __MaptimeTUS__
Contact name: Kiri Carini
Date submitted: 2019-03-30 18:42:17

- [x] Add GH admins to new team: https://github.com/kcarini
- [x] Add Location (Tucson, Arizona, USA) to chapters.json and /chapters page.

__Additional tasks__
- [x] Add to Slack
- [x] set _config.yml file

/cc @maptime/admin-onboarders

[2019-04-03 05:20] geografa opened #258 "New Chapter for Christchurch, New Zealand"
__Summary__
Maptime name: __MaptimeChristchurch__
Contact name: Andrew Douglas-Clifford
Date submitted: 2019-04-03 05:20:41

- [ ] Add GH admins to new team: Yes
- [ ] Add Location (Christchurch, New Zealand) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-04-11 19:58] geografa opened #259 "New Chapter for Port harcourt Nigeria"
__Summary__
Maptime name: __MaptimeZaph__
Contact name: My  name is Joseph from Nigeria, I am 22 years old.
Date submitted: 2019-04-11 19:58:03

- [ ] Add GH admins to new team: ok
- [ ] Add Location (Port harcourt Nigeria) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-04-11 22:22] philam commented on #259
Hi there! Would you be able to send us your GitHub username please?

[2019-04-11 22:23] philam commented on #258
Hi there! Would you be able to post your GitHub username please?

[2019-04-11 22:26] philam commented on #257
Hi @kcarini - do you have a Twitter account or website to add to the Chapters listing?

[2019-04-11 22:27] philam commented on #255
Hi there! Would you be able to post your GitHub username here please?

[2019-04-11 22:39] philam commented on #253
Duplicate of #252

[2019-04-11 22:39] #253 closed, assigned to nobody

[2019-04-11 22:40] philam commented on #251
Hi there! Do you have a Twitter account or other website to link to?

[2019-04-11 22:41] philam commented on #250
Hi there! Do you have a Twitter account or other website to link to?

[2019-04-11 22:46] philam commented on #254
Hi there! Do you have a Twitter account or website to link to?

[2019-04-11 22:47] philam commented on #249
I assume that this is for Washington, DC?

[2019-04-11 22:48] philam commented on #248
Hi there, do you have a Twitter account or website to link to?

[2019-04-11 23:25] kcarini commented on #257
Yes I have @MaptimeTUS but have not set up a website or GitHub yet. Still
working on that.

Thanks!

Kiri

On Thu, Apr 11, 2019 at 3:26 PM Phil <notifications@github.com> wrote:

[2019-04-22 09:38] philam commented on #257
Thanks! Just post here when you've got them ready and I can add them to your listing on the Maptime website.

[2019-04-22 09:44] philam commented on #257
Added to Chapters map with Twitter account.

[2019-07-20 15:55] geografa opened #260 "New Chapter for Exeter, Devon, UK"
__Summary__
Maptime name: __MaptimeExeter__
Contact name: Danil Jerdev
Date submitted: 2019-07-20 15:55:21

- [ ] Add GH admins to new team:
- [ ] Add Location (Exeter, Devon, UK) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-08-04 10:49] geografa opened #261 "New Chapter for Worldwide"
__Summary__
Maptime name: __Donors__
Contact name: Donor
Date submitted: 2019-08-04 10:49:14

- [ ] Add GH admins to new team: No
- [ ] Add Location (Worldwide) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-09-13 11:02] geografa opened #262 "New Chapter for Duluth, Minnesota, USA"
__Summary__
Maptime name: __MaptimeDuluth__
Contact name: Zachary Vavra
Date submitted: 2019-09-13 11:01:51

- [ ] Add GH admins to new team: Zach Vavra's Github account "zvavra"
- [ ] Add Location (Duluth, Minnesota, USA) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-10-01 15:36] geografa opened #263 "New Chapter for Fredonia, NY, USA"
__Summary__
Maptime name: __MaptimeFredonia__
Contact name: Michael Jabot, PhD.
Date submitted: 2019-10-01 15:36:51

- [ ] Add GH admins to new team: mjabot
- [x] Add Location (Fredonia, NY, USA) to chapters.json and /chapters page.

__Additional tasks__
- [x] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-10-01 22:59] #257 closed, assigned to nobody

[2019-11-02 11:48] geografa opened #264 "New Chapter for zanjan,IRAN"
__Summary__
Maptime name: __mostafaglm1__
Contact name: mostafa
Date submitted: 2019-11-02 11:48:07

- [ ] Add GH admins to new team: m-montaqami
- [ ] Add Location (zanjan,IRAN) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2019-11-14 20:12] geografa opened #265 "New Chapter for Phoenix, Arizona, USA"
__Summary__
Maptime name: __MaptimePhoenix__
Contact name: Matthew Toro
Date submitted: 2019-11-14 20:12:27

- [ ] Add GH admins to new team: https://github.com/MTORO003
- [ ] Add Location (Phoenix, Arizona, USA) to chapters.json and /chapters page.

__Additional tasks__
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2022-04-06 19:16] aawiseman opened #266 "Reviving maptime"
We should figure out what the various logins are for the Maptime accounts and then figure out who should have them. First, let's see which ones we know and don't know.

Check the box if you actually know them.

- [x] Maptime email (hello@maptime.io)
- [x] Maptime twitter (@MaptimeHQ)

Others? Leave them below in the comments.

NOTE: Don't actually write the passwords! Just if somebody knows what t

[2022-04-06 19:27] almccon commented on #266
I still have @MaptimeHQ active in my TweetDeck and I probably have the password or could reset it...

[2022-04-06 21:44] geobrando commented on #266
I am still forwarded the hello@maptime email but have not seen any email being sent from it. I'm not even sure who owns the domain.

@aawiseman Thanks for stepping up to help out.  As I mentioned on Slack there are some other tasks and you likely won't be able to do it all by yourself.  If no one is interested in keeping this things going someone may want to take down the website and make it clear

[2022-04-06 22:12] almccon commented on #266
Okay, I figured out how to log into gandi.net which is still on @bethschechter's account (and renewed until March 2023) and that's _also_ where the `hello@maptime.io` email is managed. There is no email account there, it's just a forwarding alias. I updated it so the people getting those emails are now @geobrando, @aawiseman, @cityhubla (Omar Ureta), and myself. I removed @emilyashley and @rsteve3

[2022-04-07 17:38] jenningsanderson commented on #266
Thanks @almccon! Also, I updated the DNS info on gandi.net yesterday to point to the newer Github name servers, which has allowed us to enable HTTPS on maptime.io - this appears to be working as of this morning.

With that, it seems like the maptime.io domain is all set for now — but yes, at the end of 2022, let's migrate that somewhere else...

[2022-04-08 03:14] geobrando commented on #266
I'm cool with staying on the email list.  I can also help out here on github.  Can either @almccon or @jenningsanderson add me as an owner? I believe I used to be one but relinquished that at some point. Maybe make @aawiseman  one as well.  There are some maintenance tasks that are needed for the chapter repos.

[2022-04-08 03:25] geobrando commented on #266
Found the maptime onboarding SOP I wrote many years ago.

https://gist.github.com/geobrando/271bc92f3f5c5bc686019f7d59bb8bc0

@geografa Is the form on the  maptime.io site from your typeform account? Do you know why it is broken?

[2022-04-08 05:51] almccon commented on #266
@geobrando I added you as an owner of the github org!

[2022-04-08 23:09] geobrando commented on #266
Was able to recover the typeform account.  I'll give you the password @aawiseman if you want it.  It looks like Typeform changed their business model and there were some elements of the form that are not part of the free service. I removed it and it sort of works now but there is now a redirect page you must click through first. You can still fill out the form but I suspect this is why I tested it

[2022-04-08 23:10] geobrando commented on #266
I think this ticket has served its purpose so I'm closing it. Feel free to open up new tickets with specific tasks

[2022-04-08 23:10] #266 closed, assigned to nobody

[2022-04-09 02:28] geobrando opened #267 "New Chapter for space"
Summary
Chapter name: MaptimeTest
Contact name: test
Date submitted: 2022-04-08T22:54:38Z

[ ] Add GH admins to new team: [https://github.com/me](https://github.com/me)
[ ] Add Location (space) to chapters.json and /chapters page.

Additional tasks:
[ ] Add to Slack
[ ] set _config.yml file

/cc @maptime/admin-onboarders

[2022-04-09 02:32] geobrando commented on #267
almost worked

[2022-04-09 02:32] #267 closed, assigned to nobody

[2022-04-09 02:33] geobrando opened #268 "New Chapter for space"
**Summary**
Chapter name: MaptimeTest
Contact name: test
Date submitted: 2022-04-08T22:54:38Z

[] Add GH admins to new team: [https://github.com/me](https://github.com/me)
[] Add Location (space) to chapters.json and /chapters page.

Additional tasks:
[] Add to Slack
[] set _config.yml file

/cc @maptime/admin-onboarders

[2022-04-09 02:35] #268 closed, assigned to nobody

[2022-04-09 02:36] geobrando opened #269 "New Chapter for space"
**Summary**
Chapter name: MaptimeTest
Contact name: test
Date submitted: 2022-04-08T22:54:38Z

- [ ] Add GH admins to new team: [https://github.com/me](https://github.com/me)
- [ ] Add Location (space) to chapters.json and /chapters page.

Additional tasks:
- [ ] Add to Slack
- [ ] set _config.yml file

/cc @maptime/admin-onboarders

[2022-04-09 02:37] geobrando commented on #269
👍

[2022-04-09 02:37] #269 closed, assigned to nobody

[2022-04-09 12:36] geobrando commented on #191
Flagging that this is still needed

[2022-04-09 12:42] geobrando opened #270 "Clear chapter request backlog"
Currently there are 58 open issues with chapter requests. For each need to reach out and determine if they:

- Are no longer interested
- Have already formed and have been meetings so need to be fully onboarded
- Need more info/guidance on how to get started

[2022-04-09 12:46] geobrando commented on #236
This is nearly 4 years old so needs to be repeated.  Going to close this and if anyone who sees this and is still interested in doing something similar let's discuss on Slack in the admin channel

[2022-04-09 12:46] #236 closed, assigned to jenningsanderson, emilyashley

[2022-04-09 20:22] #234 closed, assigned to nobody

[2022-04-09 20:25] #118 closed

[2022-04-10 02:02] #235 closed, assigned to nobody

[2022-04-10 02:02] #182 closed, assigned to nobody

[2022-04-10 02:06] #103 closed

[2022-04-10 02:06] #97 closed

[2022-04-10 02:08] #61 closed

[2022-04-10 02:08] #60 closed

[2022-04-10 02:08] #58 closed

[2022-04-10 02:08] #57 closed

[2022-04-10 02:09] #55 closed

[2022-04-10 13:22] #200 closed, assigned to nobody

[2022-04-10 13:30] geobrando commented on #226
Hey @alecalvi If you're still running a maptime chapter and need us to add you to the chapter list or anything else please let us know.  I'm going to close this for now but will reopen if you do. It's been nearly 5 years so I suspect you don't. Thanks.

[2022-04-10 13:30] #226 closed, assigned to nobody

[2022-04-10 13:46] geobrando commented on #230
Found email sent to hello@maptime.io and inquired if there was still interest

[2022-04-10 13:54] geobrando commented on #203
@dikembe3000 Looks like you were partially onboarded as you are on the chapter list but I don't see a chapter repo for your site. This was over 5 years ago so let us know if you either are no longer running interested in running a chapter or still need to be onboarded. Closing this for now but can reopen.

[2022-04-10 13:54] #203 closed, assigned to nobody

[2022-04-10 14:08] geobrando commented on #223
Looks like a repo was cloned for them but that was the only task completed. Responded to the email Heather sent in to 2018 to see if this is still needed cc @spaceof7

[2022-04-10 14:10] geobrando commented on #223
That was fast.  Per Heather's response I am closing this and deleting the repo

[2022-04-10 14:10] #223 closed, assigned to nobody

[2022-04-10 14:14] geobrando commented on #210
@magsderich Closing this but can reopen and finish onboarding if you are still active

[2022-04-10 14:14] #210 closed, assigned to nobody

[2022-04-10 14:19] geobrando commented on #245
Hey @JakobMiksch  It looks like you a site and have had a meeting as recent as September 2021. Let us know if you are still active and if we can add your organizer info so it is listed here.

https://maptime.io/chapters/

[2022-04-10 14:36] geobrando commented on #247
Reached out to Jian to confirm if they are still active as their meetup account is no longer active and there have not been any tweets since 2019. If not we'll remove from chapters.json

[2022-04-10 14:36] #247 closed, assigned to nobody

[2022-04-10 14:38] geobrando commented on #262
Duplicated by #237

[2022-04-10 14:38] #262 closed, assigned to nobody

[2022-04-10 14:42] geobrando commented on #237
Reached out to Zachary over email to see if this is still needed

[2022-04-10 14:59] geobrando commented on #265
Hello @MTORO003. I see this request is over two years old but let us know if you're running a Phoenix chapter or are still interested in doing so.  I suspect you're not so I'm closing this but can reopen.

[2022-04-10 14:59] #265 closed, assigned to nobody

[2022-04-10 15:05] geobrando commented on #263
Replied to email sent back on 1/8/2020 to determine if this is still needed.

[2022-04-10 15:19] geobrando commented on #180
Hey @kateregga1. Is YouthMappers (or is it TeamGoodMappers) still active and doing maptime-related content? Can we add any organizer info and is there any need to host a webpage at maptime.io? I'd like to close this out.

[2022-04-10 15:20] #190 closed, assigned to nobody

[2022-04-10 15:21] geobrando commented on #192
Don't believe we ever received a response so closing.

[2022-04-10 15:21] #192 closed, assigned to nobody

[2022-04-10 15:26] geobrando commented on #193
Reached out at https://github.com/maptime/tacoma/issues/1 to ask for a status update. Will fulfill if still needed

[2022-04-10 15:26] #193 closed, assigned to nobody

[2022-04-10 15:28] geobrando commented on #194
Hey @Ranger444. Closing this but let us know if you're still active and if anything else is still needed.

[2022-04-10 15:28] #194 closed, assigned to nobody

[2022-04-10 15:28] MJabotMapTime commented on #263
I would love to still establish our chapter. Thank you for contacting me!

[2022-04-10 15:54] geobrando commented on #197
Hi @XanFredericks Looks like you have not yet added and content to the site we created. Can you tell us if you are or are planning to hold any meetings? If not we'll go ahead and close this and can disable the site. If you were added to Slack and want to discuss there you can do so in the admin channel

[2022-04-10 15:55] geobrando commented on #198
Do not we ever received a response so closing

[2022-04-10 15:55] #198 closed, assigned to nobody

[2022-04-10 15:59] #202 closed, assigned to nobody

[2022-04-10 16:07] geobrando commented on #204
Hey @mbrickn. Can you tell us if you have started or are planning to start this chapter?  We'd like to know if we should either fully onboard you or can disable the [website](https://maptime.io/bowlinggreen/) that was created and mark you as inactive.  If you're still Slack and want to discuss there feel free to reach out in the admin channel.

[2022-04-10 16:24] geobrando commented on #205
Don't believe we ever got a response via email and can't locate her in Slack so closing

[2022-04-10 16:24] #205 closed, assigned to nobody

[2022-04-10 16:29] geobrando commented on #208
Hey @bbodner So you have a github account which was the first step.  I couldn't find anything online suggesting you ended up starting a chapter. As this is now over 5 years old I'm closing this. Feel free to reach out if anything is still needed.

[2022-04-10 16:29] #208 closed, assigned to nobody

[2022-04-10 16:43] geobrando commented on #211
Hey @kateregga1 Are you still in Kampala and are you running or interested in running a chapter there? Trying to resolve these old issues.

[2022-04-10 16:45] #212 closed, assigned to nobody

[2022-04-10 16:46] #215 closed, assigned to nobody

[2022-04-11 05:35] augustinh22 commented on #245
Hey @geobrando ! We are still around, though waiting a bit for nicer weather to avoid indoor meetings still.

[2022-04-11 13:57] geobrando commented on #245
@augustinh22 Great. Let us know if you want us to add your organizers names and also a personal twitter link to that webpage. Right now it is blank

![image](https://user-images.githubusercontent.com/1833870/162755290-0d81d1ab-191e-44ed-951a-3063d46c4663.png)

[2022-04-12 19:44] geobrando commented on #263
@MJabotMapTime Added you to our chapter list with https://github.com/maptime/maptime.github.io/pull/319/commits/7f31b9bcf41c8721047ff2c48e078d91682373b6 which adds you to the list of chapters and the map here https://maptime.io/chapters/. I took the liberty of adding your personal twitter account. Let me know if you'd rather I remove.  If you start a twitter, facebook or meetup account for your ch

[2022-04-12 19:44] #263 closed, assigned to nobody

[2022-04-27 23:39] geobrando commented on #217
Reached out to email on file in the google doc

[2022-04-27 23:42] geobrando commented on #218
@drickless Did you eventually form this chapter?  Let me know if there is anything you need or if I can close this ticket.

[2022-04-27 23:44] geobrando commented on #219
Hey @lukewhyte  Is there anything you need or can I close this ticket

[2022-04-27 23:48] geobrando commented on #221
@mappingmckenna  Hi. Ignore the email I just sent. Didn't realize you already on this thread.  Let me know if there is anything I can do for you, otherwise I'll close this.

[2022-04-27 23:49] geobrando commented on #224
@elopio I know this is nearly 5 years later but let me know if there anything we can do. Otherwise I'll go ahead close this ticket.

[2022-04-27 23:50] #227 closed, assigned to nobody

[2022-04-28 02:54] drickless commented on #218
@geobrando You can close the ticket. The chapter was created but I don’t know the current status as it’s been a few years since I was involved.

[2022-04-28 13:19] #218 closed, assigned to nobody

[2022-04-28 13:21] geobrando commented on #258
Duplicate of #256

[2022-04-28 13:21] #258 closed, assigned to nobody

[2022-04-28 13:22] geobrando commented on #221
Closed at request of @mappingmckenna via email

[2022-04-28 13:22] #221 closed, assigned to nobody

[2022-07-18 15:38] come-maiz commented on #224
Hey. We are a little dormant at the time, which I think is appropriate. When the time comes, we'll figure out how to reactivate.

[2022-08-15 18:48] aawiseman commented on #261
Just going through old ones, what kind of chapter is this? @geografa

[2022-08-15 20:59] aawiseman commented on #259
I think we can close this one, no response since then

[2022-08-15 20:59] geografa commented on #261
eep. no idea. Also, not sure how this was made. The Typeform doesn't function anymore. I think there was a Zapier integration needing repair.

[2022-08-15 21:00] aawiseman commented on #270
@geobrando I think messaging everyone might be a lot to do, and these are all 3+ years old. Should we just close them all? Or at least close any issue where someone asked for their github username and nobody responded?

[2022-08-15 21:00] aawiseman commented on #237
@geobrando cool, any luck?

[2022-08-15 21:01] aawiseman commented on #249
This seems like not enough info

[2022-08-15 21:02] #229 closed, assigned to nobody

[2022-08-15 21:03] #242 closed, assigned to nobody

[2022-08-15 21:04] aawiseman commented on #261
Gotcha. I will close then. We might also want to think of a better way to onboard chapters if anybody is interested

[2022-08-15 21:04] #261 closed, assigned to nobody

[2022-08-15 22:52] #259 closed, assigned to nobody

[2022-08-15 22:56] aawiseman commented on #270
I see now you have emailed some folks, where did you find their email?

[2022-08-23 20:15] briandaviddavidson commented on #249
If they are interested in running the DC chapter, we have all of this already spun up. I'm happy to connect with them on taking it over.

[2022-08-24 16:58] geobrando commented on #237
@aawiseman Did not receive any response so closing

[2022-08-24 16:58] #237 closed, assigned to nobody

[2022-08-24 17:08] geobrando commented on #270
@aawiseman Those that submitted a chapter request had their email addresses recorded in a google doc which I thought I shared with you before.  Maybe I didn't. I reached out to those that were listed in the doc but did not have their request fulfilled. Figured it was worth an email to ask.  I got to some of them but lost momentum earlier in the year. I also get forwarded the email that are sent to

[2022-10-11 08:42] XanFredericks commented on #197
Thanks for reaching out. I’m no longer in the state so please proceed with closing and disabling.

Thank you, again.

[2022-10-11 11:01] #197 closed, assigned to nobody

[2022-11-21 16:20] #224 closed, assigned to nobody

[2022-11-21 16:23] #249 closed, assigned to nobody